{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    #index_img:hover{
        background-color:#ffffff;
        opacity: 0.5;
    }
    #profile_img {
        width: 60px; height: 60px;
        border-radius: 50%;
    }
</style>

{% endblock %}

{% block body %}
{% for post in posts %}

<div class="row d-flex justify-content-center my-5" style="">
    <div class="container" style="background-color: white; width:80%; border: solid #efefef; border-width:0px 1px;">
        <!--헤더-->
        <div class="row d-flex justify-content-between" style="background-color: white; border: solid #efefef; border-width:1px 1px; height: 60px">
            <!--프사 및 이름 링크-->
            <div class="col-8">
                {% if post.user.profile.image %}
                <img id="profile_img" src="{{ post.user.profile.image.url }}">
                {% else %}
                <img id="profile_img" src="{% static '짱절미.jpg' %}">
                {% endif %}
                <a href="{% url 'accounts:detail' post.user %}" style="color: black">{{post.user}}</a>
            </div>
            <!--개인 수정버튼-->
            <div class="col-1">
                {% if post.user == user %}
                <div class="btn-group">
                    
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'posts:edit' post.pk %}">수정</a>
                        <form action="{% url 'posts:delete' post.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="dropdown-item" role="button" value="삭제">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!--body 사진-->
        <div id="carouse{{post.pk}}" class="carousel slide" data-ride="carousel" style="min-height: 384px;">
                    <ol class="carousel-indicators">
                        {% for image in post.image_set.all %}
                        <li data-target="#carouse{{post.pk}}" data-slide-to="{{forloop.counter}} - {{forloop.counter0}}" ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" >
                        {% for image in post.image_set.all %}
                        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" data-interval="false">
                            <img src="{{ image.file.url }}" class="d-block" style="width: 100%;" alt="...">
                            
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouse{{post.pk}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouse{{post.pk}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        <!--좋아요 댓글 및 버튼-->
        <div class="col my-3 d-flex justify-content-between">
            <!--좋아요-->
            {% if user in post.like_users.all %}
                <a href="{% url 'accounts:like' user post.pk%}?next={% url 'posts:list' %}" style="color: red;"><i class="fas fa-heart fa-lg"></i></a>
            {% else %}
                <a href="{% url 'accounts:like' user post.pk%}?next={% url 'posts:list' %}" style="color: red;"><i class="far fa-heart fa-lg"></i></a>
            {% endif %}
            <span style="width:1%"></span>
            <i class="far fa-comment fa-lg"></i>
            <i class="far fa-share-square fa-lg" style="margin-left: auto"></i>
        </div>
        
        <!--좋아요 수 표시-->
        <div class="m-3">
            {% if post.like_count == False %}
            {% elif post.like_count == 1 %}
            <strong><a href="{% url 'accounts:detail' post.like_users.first %}" style="color: black">{{ post.like_users.first }}</a></strong>님이 좋아합니다

            {% else %}
            <strong><a href="{% url 'accounts:detail' post.like_users.first %}" style="color: black">{{ post.like_users.first }}</a></strong>님 외 <strong>{{ post.like_count|add:"-1" }}명</strong>이 좋아합니다
            {% endif %}
        </div>
        <!--글 내용-->
        <div class="m-3">
            <strong><a href="{% url 'accounts:detail' post.user %}" style="color: black">{{ post.user }}</a></strong> {{post.content}}
        </div>
        <!--댓글 여러개일때 상세페이지로 갈...수...있을까....?-->
        {% if post.comment_set.all.count > 2 %}
        <div class="m-3">
            <a href="" style="color: gray">댓글 <strong>{{ post.comment_set.all.count }}</strong>개 모두 보기</a>
        </div>
        {% endif %}
        
        <!--댓글 표시-->
        {% if post.comment_set.all.count == False %}
        {% else %}
        {% for comment in post.comments %}
        <div class="m-3"><strong><a href="{% url 'accounts:detail' comment.user %}" style="color: black">{{comment.user}} </a></strong>{{comment.content}}</div>
        {% endfor %}
        {% endif %}
        
        <!--댓글창-->
        <div class="row py-3" style="border: solid #efefef; border-width:1px 0px;">
            <div class="col-12">
                
                <form action="{% url 'posts:create_comment' post.pk %}" method="POST" >
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        {{ comment_form }}
                        <input type="submit" style="color:skyblue; background-color: white; border: white" value="게시">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    
        
</div>


{% endfor %}








<!--<h1>list page</h1>-->

<!--<div class="row">-->
<!--{% for post in posts %}-->

<!--    <div id="size" class="col-4 my-3">-->
<!--        <a href="{% url 'posts:detail' post.pk %}" data-toggle="modal" data-target="#Modal{{post.pk}}">-->
<!--            <div id="index_img" style="background-image:url({{ post.image_set.first.file.url }}); width:100%; height:0%; padding-bottom: 100%; background-position:center;">-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
    

<!--    <div class="modal fade" id="Modal{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-height: 600px">-->
<!--            <div class="modal-content">-->
<!--                <div class="row">-->
                    
<!--                    <div class="col-6">-->
<!--                        <div id="carouse{{post.pk}}" class="carousel slide" data-ride="carousel" style="width: 100%; min-height: 384px;">-->
<!--                            <ol class="carousel-indicators">-->
<!--                                {% for image in post.image_set.all %}-->
<!--                                <li data-target="#carouse{{post.pk}}" data-slide-to="{{forloop.counter}} - {{forloop.counter0}}" ></li>-->
<!--                                {% endfor %}-->
<!--                            </ol>-->
<!--                            <div class="carousel-inner" >-->
<!--                                {% for image in post.image_set.all %}-->
<!--                                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" data-interval="false">-->
<!--                                    <img src="{{ image.file.url }}" class="d-block" style="width: 100%;" alt="...">-->
                                    <!---->
<!--                                </div>-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                            <a class="carousel-control-prev" href="#carouse{{post.pk}}" role="button" data-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
<!--                            <a class="carousel-control-next" href="#carouse{{post.pk}}" role="button" data-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <div class="modal-header row">-->
<!--                            <div class="col-1">-->
<!--                                <img scr="{{post.image_set.first.file.url}}" style="width:30px; height: 30px;">-->
<!--                            </div>-->
<!--                            <div class="col-8"><h5 class="modal-title" id="exampleModalCenterTitle">{{ post.user }}</h5></div>-->
                            
                            
<!--                            {% if post.user == user %}-->
<!--                            <div class="col-1">-->
<!--                                <div class="btn-group">-->
                                    
<!--                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>-->

<!--                                    <div class="dropdown-menu dropdown-menu-right">-->
<!--                                        <a class="dropdown-item" href="{% url 'posts:edit' post.pk %}">수정</a>-->
<!--                                        <form action="{% url 'posts:delete' post.pk %}" method="POST">-->
<!--                                            {% csrf_token %}-->
<!--                                            <input type="submit" class="dropdown-item" role="button" value="삭제">-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            {% else %}-->
<!--                            <div class="col-1"></div>-->
<!--                            {% endif %}-->
<!--                        </div>-->

<!--                        <div class="modal-body" style="height: 50%">-->
                            
<!--                            <pre-line class="pre-scrollable" style="max-height: 100%">{{ post.content }}-->
<!--                            <br>-->
<!--                            <br>-->
<!--                            {% for comment in post.comments %}-->
<!--                            {{ comment.content }}<br>-->
<!--                            {% endfor %}-->
<!--                            </pre-line>-->
<!--                        </div>-->

                        
<!--                        <div class="modal-footer row d-flex justify-content-between">-->
                        <!--<div class="modal-footer">-->
<!--                            <div class="col-4 d-flex justify-content-between">-->
<!--                                <i class="far fa-heart fa-lg"></i>-->
<!--                                <i class="far fa-comment fa-lg"></i>-->
<!--                                <i class="far fa-share-square fa-lg"></i>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <hr>-->
<!--                        <div class="footer">-->
<!--                            <form action="{% url 'posts:create_comment' post.pk %}" method="POST">-->
<!--                                {% csrf_token %}-->
                                
<!--                                <div class="form-row">-->
<!--                                    <div class="form-group col-10">-->
                                        <!--<input id="content" type="text" style="width: 100%; border: 0; outline: 0;" placeholder="댓글 달기...">-->
<!--                                        {{ comment_form }}-->
<!--                                    </div>-->
<!--                                    <div class="form-group col-2">-->
<!--                                        <input type="submit" style="display:inline">-->
<!--                                    </div>-->
<!--                                </div>-->
                                
<!--                            </form>-->
                            
<!--                        </div>-->
                        
<!--                    </div>-->
<!--                </div>-->
                
                
                
                
                


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    
    
    
<!--{% endfor %}-->
<!--</div>-->





{% endblock %}